.cask/*
auto-save-list/*

.graphene-geometry
personal.el
personal.elc
project-persist

.org-id-locations
eshell/history
eshell/lastdir
ac-comphist.dat
url/*
/projectile-bookmarks.eld
tramp
/bookmarks
/games
/ido.last
/session.*
/network-security.data
/.sx/*
/.edbi-ds-history
/.emacs.desktop
/%backup%~
elpa/*
geben/*
/projectile.cache
/recentf
tmp/*
/smex-items
persp-confs/*
magithub/*
speed-type/*
jabber-avatar-cache/*
/eudc-options
image-dired/*
